---
layout: pages/index.njk

title: Привет
description: Вебсайт Вика Шóстака, созданный на основе PWA (Progressive Web App).
keywords: vic shostak, vic shostak pwa, vic shostak website, vic shostak portfolio, vic shostak developer, vic shostak developer portfolio, vic shostak developer website

permalink: /ru/
---

