---
layout: pages/microservices.njk

title: Микросервисы для вашего бизнеса
description: The Vic Shostak's PWA (Progressive Web App) website.
keywords: vic shostak, vic shostak pwa, vic shostak website, vic shostak portfolio, vic shostak developer, vic shostak developer portfolio, vic shostak developer website

permalink: /ru/microservices
---

