---
layout: pages/service-provision.njk

title: Информация об оказании услуг
description: Являясь официально зарегистрированным индивидуальным предпринимателем (ИП), я имею законное право осуществлять оказание аутсорсинговых услуг в сфере информационных технологий компаниям и частным лицам на территории Российской Федерации.
keywords: service provision, оказание услуг, vic shostak, vic shostak pwa, vic shostak website, vic shostak portfolio, vic shostak developer, vic shostak developer portfolio, vic shostak developer website

permalink: /ru/service-provision/
---

