<div class="toast toast-center text-sm hidden cookie-confirm">
    <div class="alert glass text-always-black shadow-lg">
        <div class="flex flex-col sm:flex-row sm:items-center gap-4">
            <p>&#10095;&nbsp;{{ 'components.cookie_confirm.content' | t | nl2br | safe }}</p>
            <button class="btn btn-outline rounded-box cookie-confirm-button">
                {{ 'components.cookie_confirm.button' | t }}
            </button>
        </div>
    </div>
</div>