{# Modal: My skills #}
<dialog id="modal_my_skills" class="modal modal-bottom sm:modal-middle text-sm">
    <div class="modal-box sm:w-11/12 sm:max-w-xl">
        <form method="dialog" class="sticky top-0 z-20">
            <button class="btn btn-sm btn-circle btn-ghost bg-base-100 absolute right-2 top-2">✕</button>
        </form>
        <h2>{{ 'modals.my_skills.block_1.heading' | t }}</h2>
        <p>{{ 'modals.my_skills.block_1.content' | t }}</p>
        <h3>{{ 'modals.my_skills.block_2.heading' | t }}</h3>
        <p>
            <strong>Go</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_2.go_content' | t }}
        </p>
        <p>{{ 'modals.my_skills.block_2.used_frameworks' | t }}</p>
        <ul>
            <li>Fiber, HttpRouter, net/http;</li>
            <li>pgx, sqlx, log/slog, koanf, google/wire, stretchr/testify;</li>
            <li>Templ, Сharm (bubbletea, lipgloss);</li>
        </ul>
        <p>
            <strong>Python</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_2.python_content' | t }}
        </p>
        <p>{{ 'modals.my_skills.block_2.used_frameworks' | t }}</p>
        <ul>
            <li>FastAPI;</li>
            <li>Pydantic, Poetry, Black;</li>
        </ul>
        <p>
            <strong>n8n</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_2.n8n_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_3.heading' | t }}</h3>
        <p>
            <strong>PostgreSQL</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_3.postgres_content' | t }}
        </p>
        <p>
            <strong>Redis</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_3.redis_content' | t }}
        </p>
        <p>
            <strong>SQLite</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_3.sqlite_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_4.heading' | t }}</h3>
        <p>
            <strong>Vue.js</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.vue_content' | t }}
        </p>
        <p>
            <strong>Tailwind CSS</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.tailwind_content' | t }}
        </p>
        <p>
            <strong>htmx, hyperscript</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.htmx_content' | t }}
        </p>
        <p>
            <strong>Bun</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.bun_content' | t }}
        </p>
        <p>
            <strong>Vite</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.vite_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_5.heading' | t }}</h3>
        <p>
            <strong>Figma</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_5.figma_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_6.heading' | t }}</h3>
        <p>
            <strong>Docker</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.docker_content' | t }}
        </p>
        <p>
            <strong>GitHub Actions, Gitlab Runners</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.actions_runners_content' | t }}
        </p>
        <p>
            <strong>GoReleaser</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.goreleaser_content' | t }}
        </p>
        <div class="mt-8">
            {% include "components/partnership-banner.njk" %}
        </div>
    </div>
</dialog>

{# Modal: Work philosophy #}
<dialog id="modal_work_philosophy" class="modal modal-bottom sm:modal-middle text-sm">
    <div class="modal-box sm:w-11/12 sm:max-w-xl">
        <form method="dialog" class="sticky top-0 z-20">
            <button class="btn btn-sm btn-circle btn-ghost bg-base-100 absolute right-2 top-2">✕</button>
        </form>
        <h2>{{ 'modals.work_philosophy.block_1.heading' | t }}</h2>
        <p>{{ 'modals.work_philosophy.block_1.content_1' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_1.content_2' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_1.content_3' | t }}</p>
        <h3>{{ 'modals.work_philosophy.block_2.heading' | t }}</h3>
        <p>{{ 'modals.work_philosophy.block_2.content' | t }}</p>
        <ul class="timeline overflow-scroll text-center py-2 z-10">
            <li>
                <div class="timeline-start timeline-box border-info">
                    {{ 'modals.work_philosophy.block_2.schema.content_1' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-info"/>
            </li>
            <li>
                <hr class="bg-info"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-info">
                    {{ 'modals.work_philosophy.block_2.schema.content_2' | t | nl2br | safe }}
                </div>
                <hr class="bg-info"/>
            </li>
            <li>
                <hr class="bg-info"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-info">
                    {{ 'modals.work_philosophy.block_2.schema.content_3' | t | nl2br | safe }}
                </div>
                <hr class="bg-info"/>
            </li>
            <li>
                <hr class="bg-info"/>
                <div class="timeline-start timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_4' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_5' | t | nl2br | safe }}
                </div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_6' | t | nl2br | safe }}
                </div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-start timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_7' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_8' | t | nl2br | safe }}
                </div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-start timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_9' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-success">
                    {{ 'modals.work_philosophy.block_2.schema.content_10' | t | nl2br | safe }}
                </div>
                <hr class="bg-success"/>
            </li>
            <li>
                <hr class="bg-success"/>
                <div class="timeline-start timeline-box border-success">
                    {{ 'modals.work_philosophy.block_2.schema.content_11' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
            </li>
        </ul>
        <div class="text-xs text-right">
            {{ 'modals.work_philosophy.block_2.scroll_to_right' | t | safe }}&nbsp;&rarr;
        </div>
        <h3>{{ 'modals.work_philosophy.block_3.heading' | t }}</h3>
        <p>{{ 'modals.work_philosophy.block_3.content_1' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_3.content_2' | t }}</p>
        <div class="mt-8">
            {% include "components/partnership-banner.njk" %}
        </div>
    </div>
</dialog>