<nav class="sticky top-2 z-30 mx-2 py-3 px-6 sm:mx-4 sm:py-4 sm:px-8 bg-base-content text-base-100 rounded-3xl shadow-md
        text-sm xl:hidden">
    <div class="grid grid-cols-3 gap-8">
        <div class="col-span-2 self-center">
            <a class="font-bold text-neutral no-underline" href="{{ templateData.website_url }}">
                {{ templateData.website_name | upper }}
            </a>
        </div>
        <div class="col-span-1 place-self-end">
            <details class="dropdown dropdown-end">
                <summary class="btn text-base-100 btn-outline btn-sm rounded-box" data-open="{{ 'components.mobile_nav.close' | t }}" data-close="{{ 'components.mobile_nav.open' | t }}"></summary>
                <ul class="menu py-4 dropdown-content z-30 bg-base-content text-base-100 shadow-md rounded-box w-64">
                    <li class="menu-title text-neutral">{{ 'components.mobile_nav.block_1.heading' | t }}</li>
                    <li class="m-0 p-0">
                        <a href="/{% if page.lang == 'en' %}ru/{% endif %}microservices">
                            {{ 'components.mobile_nav.block_1.link_1' | t }}
                        </a>
                    </li>
                    <li class="m-0 p-0">
                        <a href="/{% if page.lang == 'en' %}ru/{% endif %}ux-reviews">
                            {{ 'components.mobile_nav.block_1.link_2' | t }}
                        </a>
                    </li>
                    <li class="menu-title text-neutral">{{ 'components.mobile_nav.block_2.heading' | t }}</li>
                    <li class="m-0 p-0">
                        <a href="{{ envData.telegram }}" target="_blank" onclick="this.closest('details').open = false">
                            <span class="external">{{ 'components.mobile_nav.block_2.link_1' | t }}</span>
                        </a>
                    </li>
                    <li class="m-0 p-0">
                        <a
                            href="mailto:{{ envData.email }}?subject={{ 'components.mobile_nav.block_2.email_subject' | t }}"
                            target="_blank"
                            onclick="this.closest('details').open = false">
                            <span class="external">{{ 'components.mobile_nav.block_2.link_2' | t }}</span>
                        </a>
                    </li>
                    <li class="m-0 p-0">
                        <a href="{{ templateData.social_links.linkedin }}" target="_blank" onclick="this.closest('details').open = false">
                            <span class="external">{{ 'components.mobile_nav.block_2.link_3' | t }}</span>
                        </a>
                    </li>
                    <li class="menu-title text-neutral">{{ 'components.mobile_nav.block_3.heading' | t }}</li>
                    <li class="m-0 p-0">
                        <a href="{{ templateData.social_links.github }}" target="_blank" onclick="this.closest('details').open = false">
                            <span class="external">{{ 'components.mobile_nav.block_3.link_1' | t }}</span>
                        </a>
                    </li>
                    <li class="m-0 p-0">
                        <a href="{{ templateData.social_links.dribbble }}" target="_blank" onclick="this.closest('details').open = false">
                            <span class="external">{{ 'components.mobile_nav.block_3.link_2' | t }}</span>
                        </a>
                    </li>
                    <li class="m-0 p-0">
                        <a href="{{ templateData.social_links.dev_to }}" target="_blank" onclick="this.closest('details').open = false">
                            <span class="external">{{ 'components.mobile_nav.block_3.link_3' | t }}</span>
                        </a>
                    </li>
                    <li class="menu-title text-neutral">{{ 'components.mobile_nav.block_4.heading' | t }}</li>
                    <li class="m-0 p-0">
                        <a href="#" data-toggle-theme="dark,light" onclick="this.closest('details').open = false">
                            {{ 'components.mobile_nav.block_4.link_1' | t }}
                        </a>
                    </li>
                    <li class="m-0 p-0">
                        <a href="/{% if page.lang == 'en' %}ru/{% endif %}">
                            {{ 'components.mobile_nav.block_4.link_2' | t }}
                        </a>
                    </li>
                </ul>
            </details>
        </div>
    </div>
</nav>