{# Modal: My skills #}
<dialog id="modal_my_skills" class="modal modal-bottom sm:modal-middle text-sm">
    <div class="modal-box sm:w-11/12 sm:max-w-xl">
        <form method="dialog" class="sticky top-0 z-20">
            <button class="btn btn-sm btn-circle btn-ghost bg-base-100 absolute right-2 top-2" title="{{ 'modals.close' | t }}">✕</button>
        </form>
        <h2>{{ 'modals.my_skills.block_1.heading' | t }}</h2>
        <p>{{ 'modals.my_skills.block_1.content' | t }}</p>
        <h3>{{ 'modals.my_skills.block_2.heading' | t }}</h3>
        <p>
            <strong>Go</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_2.go_content' | t }}
        </p>
        <p>{{ 'modals.my_skills.block_2.used_frameworks' | t }}</p>
        <ul>
            <li>Fiber, HttpRouter, Chi, net/http;</li>
            <li>pgx, sqlx, log/slog, google/wire, stretchr/testify;</li>
            <li>Templ, Сharm (bubbletea, lipgloss), koanf;</li>
        </ul>
        <p>
            <strong>Python</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_2.python_content' | t }}
        </p>
        <p>{{ 'modals.my_skills.block_2.used_frameworks' | t }}</p>
        <ul>
            <li>FastAPI;</li>
            <li>Poetry, Black;</li>
        </ul>
        <p>
            <strong>n8n</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_2.n8n_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_3.heading' | t }}</h3>
        <p>
            <strong>PostgreSQL</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_3.postgres_content' | t }}
        </p>
        <p>
            <strong>Redis</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_3.redis_content' | t }}
        </p>
        <p>
            <strong>SQLite</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_3.sqlite_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_4.heading' | t }}</h3>
        <p>
            <strong>Nuxt, Vue.js</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.vue_content' | t }}
        </p>
        <p>
            <strong>Tailwind CSS</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.tailwind_content' | t }}
        </p>
        <p>
            <strong>11ty, VitePress</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.static_generators_content' | t }}
        </p>
        <p>
            <strong>htmx, hyperscript</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.htmx_content' | t }}
        </p>
        <p>
            <strong>Bun</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.bun_content' | t }}
        </p>
        <p>
            <strong>Vite</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_4.vite_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_5.heading' | t }}</h3>
        <p>
            <strong>Figma</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_5.figma_content' | t }}
        </p>
        <p>
            <strong>FigJam</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_5.figjam_content' | t }}
        </p>
        <h3>{{ 'modals.my_skills.block_6.heading' | t }}</h3>
        <p>
            <strong>Docker</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.docker_content' | t }}
        </p>
        <p>
            <strong>Nginx/Angie, Traefik</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.proxy_content' | t }}
        </p>
        <p>
            <strong>GitHub Actions, Gitlab Runners</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.actions_runners_content' | t }}
        </p>
        <p>
            <strong>GoReleaser</strong>&nbsp;&mdash; {{ 'modals.my_skills.block_6.goreleaser_content' | t }}
        </p>
        <div class="mt-8">
            {% include "components/partnership-banner.njk" %}
        </div>
    </div>
</dialog>

{# Modal: Work philosophy #}
<dialog id="modal_work_philosophy" class="modal modal-bottom sm:modal-middle text-sm">
    <div class="modal-box sm:w-11/12 sm:max-w-xl">
        <form method="dialog" class="sticky top-0 z-20">
            <button class="btn btn-sm btn-circle btn-ghost bg-base-100 absolute right-2 top-2" title="{{ 'modals.close' | t }}">✕</button>
        </form>
        <h2>{{ 'modals.work_philosophy.block_1.heading' | t }}</h2>
        <p>{{ 'modals.work_philosophy.block_1.content_1' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_1.content_2' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_1.content_3' | t }}</p>
        <h3>{{ 'modals.work_philosophy.block_2.heading' | t }}</h3>
        <p>{{ 'modals.work_philosophy.block_2.content' | t }}</p>
        <ul class="timeline overflow-scroll text-center py-2 z-10">
            <li>
                <div class="timeline-start timeline-box border-info">
                    {{ 'modals.work_philosophy.block_2.schema.content_1' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-info"/>
            </li>
            <li>
                <hr class="bg-info"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-info">
                    {{ 'modals.work_philosophy.block_2.schema.content_2' | t | nl2br | safe }}
                </div>
                <hr class="bg-info"/>
            </li>
            <li>
                <hr class="bg-info"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-info">
                    {{ 'modals.work_philosophy.block_2.schema.content_3' | t | nl2br | safe }}
                </div>
                <hr class="bg-info"/>
            </li>
            <li>
                <hr class="bg-info"/>
                <div class="timeline-start timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_4' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_5' | t | nl2br | safe }}
                </div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_6' | t | nl2br | safe }}
                </div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-start timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_7' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_8' | t | nl2br | safe }}
                </div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-start timeline-box border-warning">
                    {{ 'modals.work_philosophy.block_2.schema.content_9' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <hr class="bg-warning"/>
            </li>
            <li>
                <hr class="bg-warning"/>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
                <div class="timeline-end timeline-box border-success">
                    {{ 'modals.work_philosophy.block_2.schema.content_10' | t | nl2br | safe }}
                </div>
                <hr class="bg-success"/>
            </li>
            <li>
                <hr class="bg-success"/>
                <div class="timeline-start timeline-box border-success">
                    {{ 'modals.work_philosophy.block_2.schema.content_11' | t | nl2br | safe }}
                </div>
                <div class="timeline-middle">{% include "icons/check-mark.njk" %}</div>
            </li>
        </ul>
        <p class="text-xs text-right">
            {{ 'modals.work_philosophy.block_2.scroll_to_right' | t | safe }}&nbsp;&rarr;
        </p>
        <h3>{{ 'modals.work_philosophy.block_3.heading' | t }}</h3>
        <p>{{ 'modals.work_philosophy.block_3.content_1' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_3.content_2' | t }}</p>
        <h3>{{ 'modals.work_philosophy.block_4.heading' | t }}</h3>
        <p>{{ 'modals.work_philosophy.block_4.content_1' | t }}</p>
        <p>{{ 'modals.work_philosophy.block_4.content_2' | t }}</p>
        <div class="mt-8">
            {% include "components/partnership-banner.njk" %}
        </div>
    </div>
</dialog>

{# Modal: About Timeweb Cloud #}
<dialog id="modal_timeweb_cloud" class="modal modal-bottom sm:modal-middle text-sm">
    <div class="modal-box sm:w-11/12 sm:max-w-xl">
        <form method="dialog" class="sticky top-0 z-20">
            <button class="btn btn-sm btn-circle btn-ghost bg-base-100 absolute right-2 top-2" title="{{ 'modals.close' | t }}">✕</button>
        </form>
        <h2>{{ 'modals.timeweb_cloud.heading' | t }}</h2>
        <p>{{ 'modals.timeweb_cloud.content_1' | t | safe }}</p>
        <p>{{ 'modals.timeweb_cloud.content_2' | t }}</p>
        <ul>
            <li>{{ 'modals.timeweb_cloud.list.item_1' | t }}</li>
            <li>{{ 'modals.timeweb_cloud.list.item_2' | t }}</li>
            <li>{{ 'modals.timeweb_cloud.list.item_3' | t }}</li>
            <li>{{ 'modals.timeweb_cloud.list.item_4' | t }}</li>
            <li>{{ 'modals.timeweb_cloud.list.item_5' | t }}</li>
        </ul>
        <div class="chat chat-start w-full mt-4 mb-8">
            <div class="chat-image avatar w-10 h-10">
                <img class="rounded-full" src="/avatar.jpg" alt="Vic Shóstak avatar"/>
            </div>
            <div class="chat-header">
                {{ 'modals.timeweb_cloud.from_author.name' | t }}
                <time class="text-xs opacity-50 current-datetime"></time>
            </div>
            <div class="chat-bubble bg-base-content text-base-100">{{ 'modals.timeweb_cloud.from_author.content' | t }}</div>
        </div>
        <p>
            <a class="btn btn-block rounded-box" href="{{ templateData.ref_links.timeweb_cloud }}" target="_blank">
                {{ 'modals.timeweb_cloud.button' | t }}
            </a>
        </p>
    </div>
</dialog>

{# Modal: About Craftum #}
<dialog id="modal_craftum" class="modal modal-bottom sm:modal-middle text-sm">
    <div class="modal-box sm:w-11/12 sm:max-w-xl">
        <form method="dialog" class="sticky top-0 z-20">
            <button class="btn btn-sm btn-circle btn-ghost bg-base-100 absolute right-2 top-2" title="{{ 'modals.close' | t }}">✕</button>
        </form>
        <h2>{{ 'modals.craftum.heading' | t }}</h2>
        <p>{{ 'modals.craftum.content_1' | t | safe }}</p>
        <p>{{ 'modals.craftum.content_2' | t }}</p>
        <ul>
            <li>{{ 'modals.craftum.list_1.item_1' | t }}</li>
            <li>{{ 'modals.craftum.list_1.item_2' | t }}</li>
            <li>{{ 'modals.craftum.list_1.item_3' | t }}</li>
            <li>{{ 'modals.craftum.list_1.item_4' | t }}</li>
            <li>{{ 'modals.craftum.list_1.item_5' | t }}</li>
        </ul>
        <div class="chat chat-start w-full mt-4 mb-8">
            <div class="chat-image avatar w-10 h-10">
                <img class="rounded-full" src="/avatar.jpg" alt="Vic Shóstak avatar"/>
            </div>
            <div class="chat-header">
                {{ 'modals.craftum.from_author.name' | t }}
                <time class="text-xs opacity-50 current-datetime"></time>
            </div>
            <div class="chat-bubble bg-base-content text-base-100">{{ 'modals.craftum.from_author.content' | t }}</div>
        </div>
        <p>
            <a class="btn btn-block rounded-box" href="{{ templateData.ref_links.craftum }}" target="_blank">
                {{ 'modals.craftum.button' | t }}
            </a>
        </p>
    </div>
</dialog>