---
layout: layouts/default.njk
---

<section class="grid pt-16 pb-8 px-4 sm:p-16 xl:grid-cols-4 gap-8">
  <div class="grid gap-8 xl:col-span-3 h-fit">
    {% include "columns/microservices/left.njk" %}
  </div>
  <div class="grid gap-8 sm:grid-cols-2 xl:grid-cols-1 xl:col-span-1 xl:sticky xl:top-4 h-fit">
    {% include "columns/aside.njk" %}
  </div>
</section>