---
layout: pages/microservices.njk

title: Microservices for your business
description: Microservices allow your business to accept more and more orders.
keywords: microservices, micro services, vic shostak, vic shostak pwa, vic shostak website, vic shostak portfolio, vic shostak developer, vic shostak developer portfolio, vic shostak developer website

permalink: /microservices/
---

