---
layout: pages/service-provision.njk

title: Information on service provision
description: As an officially registered individual entrepreneur (IE), I have the legal right to provide outsourcing services in the area of IT to companies and private persons on the territory of the Russian Federation.
keywords: service provision, vic shostak, vic shostak pwa, vic shostak website, vic shostak portfolio, vic shostak developer, vic shostak developer portfolio, vic shostak developer website

permalink: /service-provision/
---

