---
layout: pages/ux-reviews.njk

title: UX reviews for your business
description: The Vic Shostak's PWA (Progressive Web App) website.
keywords: vic shostak, vic shostak pwa, vic shostak website, vic shostak portfolio, vic shostak developer, vic shostak developer portfolio, vic shostak developer website

permalink: /ux-reviews/
---

