<div class="mockup-phone shadow-xl">
    <div class="camera"></div>
    <div class="display">
        <div class="artboard artboard-demo phone-1 px-3 text-sm">
            <div class="chat chat-end w-full">
                <div class="chat-image avatar placeholder">
                    <div class="w-10 h-10 bg-primary text-slate-900 rounded-full">
                        <span class="text-xl">{{ 'components.index.phone_mockup.name_you_short' | t }}</span>
                    </div>
                </div>
                <div class="chat-header">
                    {{ 'components.index.phone_mockup.name_you' | t }}
                    <time class="text-xs opacity-50 current-datetime"></time>
                </div>
                <div class="chat-bubble bg-base-content text-base-100">
                    {{ 'components.index.phone_mockup.msg_you_1' | t }}
                </div>
                <div class="chat-footer h-4"></div>
            </div>
            <div class="chat chat-start w-full">
                <div class="chat-image avatar w-10 h-10">
                    <img class="rounded-full" src="/avatar.jpg" alt="Vic Shóstak avatar"/>
                </div>
                <div class="chat-header">
                    {{ 'components.index.phone_mockup.name_vic_shostak' | t }}
                    <time class="text-xs opacity-50 current-datetime"></time>
                </div>
                <div class="chat-bubble bg-base-content text-base-100">
                    {{ 'components.index.phone_mockup.msg_vic_shostak_1' | t }}
                </div>
                <div class="chat-footer h-4"></div>
            </div>
            <div class="chat chat-end w-full">
                <div class="chat-image avatar placeholder">
                    <div class="w-10 h-10 bg-primary text-slate-900 rounded-full">
                        <span class="text-xl">{{ 'components.index.phone_mockup.name_you_short' | t }}</span>
                    </div>
                </div>
                <div class="chat-header">
                    {{ 'components.index.phone_mockup.name_you' | t }}
                    <time class="text-xs opacity-50 current-datetime"></time>
                </div>
                <div class="chat-bubble bg-base-content text-base-100">
                    {{ 'components.index.phone_mockup.msg_you_2' | t }}
                </div>
                <div class="chat-footer h-4"></div>
            </div>
            <div class="chat chat-start w-full">
                <div class="chat-image avatar w-10 h-10">
                    <img class="rounded-full" src="/avatar.jpg" alt="Vic Shóstak avatar"/>
                </div>
                <div class="chat-header">
                    {{ 'components.index.phone_mockup.name_vic_shostak' | t }}
                    <time class="text-xs opacity-50 current-datetime"></time>
                </div>
                <div class="chat-bubble bg-base-content text-base-100">
                    {{ 'components.index.phone_mockup.msg_vic_shostak_2' | t }}
                    <a class="btn btn-block btn-primary btn-sm rounded-box my-2" href="{{ envData.telegram }}" target="_blank">
                        {{ 'components.index.phone_mockup.button' | t }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>